@page
@model ImageManager.Pages.ImageViewerModel
@{
}



<div class="app-content">

    <form>
        <ul class="form_inputs">
            @foreach (String imgSrc in Model.ImageSrcs) {

                <li>
                    <p></p>
                    <img />
                </li>

            }
            
        </ul>
    </form>

</div>