@page
@model ImageManager.Pages.IndexModel
@{
}

<div class="app-content">

    <form>
        <ul class="form_inputs">
            <li><label>Upload a folder of images</label></li>
            <li><input type="file"/></li>
        </ul>
    </form>

</div>